<!DOCTYPE html>
<html>
<head>
    <title>Product Data</title>
    <style>
        table, th, td {
            border: 1px solid #999;
            border-collapse: collapse;
            padding: 6px 12px;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 30px;
        }

        h1 {
            color: blue;
        }
    </style>
</head>

<body>

<h1>Product Information</h1>
<h3>vedha</h3>

<table id="data">

<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
</tr>

{% for p in products %}
<tr>
    <td>{{ p.id }}</td>
    <td>{{ p.name }}</td>
    <td>{{ p.price }}</td>
</tr>
{% endfor %}

</table>

</body>
</html>